*{
	padding: 0;
	margin: 0;
	text-align: center;
}

.ui-loader-default{ display:none}
.ui-mobile-viewport{ border:none;}
.ui-page {padding: 0; margin: 0; outline: 0}
@font-face {
	font-family:'站酷小薇LOGO体';
	src: url(../fonts/ZhanKu.otf);
}
@font-face {
	font-family:'Cirebton';
	src: url(../fonts/Cirebon.ttf);
}
@font-face {
	font-family:'Questrial';
	src: url(../fonts/Questrial.ttf);
}
body{
	background-image: url(../img/bg.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	overflow:-Scroll;
	overflow-y:hidden;
}
span{
	font-weight: 500;
}
div.container{
	padding: 50px;
}
div.mark{
	font-size: 20px;
	margin: 5px;
}
div.score{
	font-size: 20px;
	margin: 5px;
}
h3.title{
	padding-top: 30px;
	font-size: 48px;
	font-weight: 600;
	font-family: "站酷小薇LOGO体";
	margin: 0 auto;
	color: purple;
}

i{
	font-style: normal;
	font-family: "Cirebton";
	font-size: 48px;
	color: #000000;
	padding-right: 5px;
}
table.main{
	margin: 0 auto;
	border-spacing: 5px;
	border-collapse: separate;
	border: aqua 3px solid;
	border-radius: 15px;
	background-color: aqua;
}
table.main td{
	border: aqua 3px solid;
	border-radius: 10px;
	overflow: hidden;
 	width: 60px;
	height: 60px; 
	font-size: 24px;
	font-family:'Questrial';
	font-weight: 800;
	background-color: white;
}
#myModal{
	margin-top: 200px;
}
.modal-title{
	font-size: 20px;
	font-family: "站酷小薇LOGO体";
}
.modal-body{
	font-size: 30px;
	font-family: "Cirebton";
}
