*{
	padding: 0;
	margin: 0;
	text-align: center;
}

.ui-loader-default{ display:none}
.ui-mobile-viewport{ border:none;}
.ui-page {padding: 0; margin: 0; outline: 0}
@font-face {
	font-family:'Meows';
	src: url(../fonts/Meows.ttf);
}
body{
	background-image: url(../img/qop.jpg);
	background-repeat: no-repeat;
	background-size: cover
}
span{
	font-family: "microsoft yahei";
	font-weight: 500;
}
div.container{
	padding: 50px;
}
div.mark{
	font-size: 20px;
	margin: 5px;
}
h3{
	padding: 10px;
	font-size: 46px;
	font-weight: 600;
	font-family: "幼圆";
	margin: 0 auto;
	color: red;
}

i{
	font-style: normal;
	font-family: "Meows";
	font-weight: 800;
	font-size: 30px;
	color: #daff1d;
	padding-right: 5px;
}
table{
	margin: 0 auto;
	border-spacing: 0;
	border-collapse: separate;
	border: aqua 3px solid;
	border-radius: 15px;
	background-color: aqua;
}
td{	
	border-collapse: separate; 
	border: aqua 3px solid;
	border-radius: 15px;
	overflow: hidden;
 	width: 40px;
	height: 40px; 
	font-size: 16px;
	font-family:'Meows';
	font-weight: 600;
	background-color: white;
}
button{
	margin-top: 10px;
	font-family: "黑体";
	font-size: 18px;
	border-style:none;
	border-radius: 8px;
	width: 100px;
	height: 50px;
	background-color: #d9534f;
	color: white;
}
